{% extends 'base.html' %}

<head>
    {% block css %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    {% endblock css %}

    {% block headline %}
        <td>
            맥주 추천해드립니다. 좋아하는 맥주명 세개를 입력하세요.<br/>
            한국 맥주는 없어요. 너 그런거 좋아하니? 일본 맥주 좋아해요? 이시국에?
        </td>

    {% endblock headline %}
</head>

<body>
{% block content %}
    <div>
        <form method="POST">
            {% csrf_token %}
            <table class="table">
                {{ form.as_table }}
            </table>
            <button class="btn btn-primary btn-space"  type="submit">검색</button>
        </form>
    </div>
{% endblock content %}
</body>